.header-inner {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-space {
  width: 50%;
}


.logo {
  width: 100%;
}

.nav a {
  color: #fff;
  text-decoration: none;
  font-size: bold;
}